<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Ruby Version></h1>

    <table class="table">
      <thead>
      <tr>
        <th>repository</th>
        <th>version</th>
      </tr>
      </thead>

      <tbody>
      <% @repo_versions.each do |repo, version| %>
        <tr>
          <td>
            <%= link_to repo.github_path, github_user_repository_path(user_id: repo.github_user.name, id: repo.repository) %>
          </td>
          <td>
            <%= version ? version : '---' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
