<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>version</th>
      <th>new_version</th>
    </tr>
  </thead>

  <tbody>
  <% @dependency_graph.dependencies.each do |gem_version_info| %>
    <tr>
      <td><%= gem_version_info.name %></td>
      <td><%= gem_version_info.version %></td>
      <td><%= gem_version_info.new_version %></td>
    </tr>
  <% end %>
  </tbody>
</table>
