<p>repository: <%= @repository.github_path %></p>
<p>commit_hash: <%= @revision.commit_hash%></p>

<% if @revision.done? %>
  <%= render partial: 'dependency', dependency_graph: @dependency_graph %>
<% else %>
  <p>fetching data...please wait</p>
<% end %>

